<h1>My Very First Custom Section!</h1>
{% schema %}
  {
    "name": "Slick Slider",
    "settings": [],
    "presets": [
      {
        "name": "Slick Slider"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}