<h1>{{ section.settings.heading }}</h1>

<h2>Photo Title<h2>
<img src=""/>



{% schema %}
  {
    "name": "Slick Slider",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label" : "Heading",
        "default" : "My Custom Heading"
      }
    ],
    "presets": [
      {
        "name": "Slick Slider"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
